/* For screens smaller than 1024px (tablet and smaller) */
@media only screen and (max-width: 1024px) {
    .nav1, .nav2, .nav3, .featured-text, .latest, .trends {
        padding: 0 20px;
    }
    .card-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .card-container .card {
        flex-basis: 45%;
    }
    .trends .swiper-slide {
        width: 300px;
        height: 300px;
    }
}

/* For screens smaller than 768px (small tablets and large phones) */
@media only screen and (max-width: 768px) {
    .nav1, .nav2, .nav3 {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .nav1 .left, .nav1 .right, .nav2 .nav2-left, .nav2 .nav2-center, .nav2 .nav2-right {
        flex-basis: 100%;
        padding: 5px; 
    }
    .nav2 .nav2-center h1 {
        font-size: 1.5rem;
    }
    .nav3 ul li {
        width: auto;
    }
    .featured-text {
        left: 5%;
        font-size: 1.5rem;
    }
    .card-container .card {
        margin: 2rem 2rem;
        flex-basis: 100%;
    }
    footer div {
        flex-basis: 100%;
        padding: 10px;
    }
}

/* For screens smaller than 576px (small phones) */
@media only screen and (max-width: 576px) {
    .featured {
        height: 40vh;
    }
    .featured-text {
        font-size: 1.2rem;
    }
    .card-container {
        gap: 10px;
    }
    .card-container .card {
        padding: 0.5rem;
    }
    .product-intro h1 {
        font-size: 1.5rem;
    }
    footer h1 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }
    .swiper-slide {
        width: 100%;
        height: auto;
    }
} 
